
*{
    margin: 0;
    padding: 0;
    letter-spacing: 1.5px;
    box-sizing: border-box;
}

#btn{
    font: 20pt arial normal bolder;
    padding: 30px;
}

#btn2{
    font: 20pt arial normal bolder;
    padding: 30px;
}

.container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
