:root{
    --transition: all 0.3s linear;
}


.nav{
    max-width: 100%;
    display: flex;
    background-color: aqua;
    margin: 0 auto;
    width: 60%;
    height: 80px;
    justify-content: center;
    transition: var(--transition);
    overflow: hidden;
}

.nav-bar{
    height: 200px;
}


.links {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
    position: absolute;
    top: 80px; /* Coloca os links abaixo da altura inicial da navbar */
    width: 100%;
    height: 0; /* Inicialmente escondido */
    overflow: hidden;
}


.show {
    height: 150px; 
}

.links li {
    list-style: none;
    margin: 5px 0;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    transition: var(--transition);
}